{% extends "layout.html" %}

{% block left_panel %}
  <div class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li class="nav-header">团队成员</li>
	  <li><a href="#">紫光华山</a></li>
	  <li><a href="#">亚康</a></li>
	  <li class="nav-header">团队精彩</li>
	  <li><a href="#">大事记</a></li>
	  <li class="active"><a href="#">成员风彩</a></li>
	  <li><a href="#">活动照片</a></li>
   </ul>
  </div><!--/.well -->
{% endblock %} <!--block left_panel-->

{% block right_panel %}
  
	<div class="row">
	   <div class="col-sm-6 col-md-3">
		  <div class="img-thumbnail">
			 <img src="/static/images/Picture1.png" class="img-circle"
			 alt="...">
			 <div class="caption">
				<h3>武林至尊</h3>
				<p>这只是范例，后面再补充。</p>
				<p>
				   <a href="#" class="btn btn-success" role="button">
					  关于
				   </a> 
				   <a href="#" class="btn btn-default" role="button">
					  点赞
				   </a>
				</p>
			 </div>
		  </div>
	   </div>
	   <div class="col-sm-6 col-md-3">
		  <div class="img-thumbnail">
			 <img src="/static/images/Picture2.png" class="img-circle"
			 alt="...">
			 <div class="caption">
				<h3>宝刀屠龙</h3>
				<p>这只是范例，后面再补充。</p>
				<p>
				   <a href="#" class="btn btn-success" role="button">
					  关于
				   </a> 
				   <a href="#" class="btn btn-default" role="button">
					  点赞
				   </a>
				</p>
			 </div>
		  </div>
	   </div>
	   <div class="col-sm-6 col-md-3">
		  <div class="img-thumbnail">
			 <img src="/static/images/Picture3.png" class="img-circle"
			 alt="...">
			 <div class="caption">
				<h3>号令天下</h3>
				<p>这只是范例，后面再补充。</p>
				<p>
				   <a href="#" class="btn btn-success" role="button">
					  关于
				   </a> 
				   <a href="#" class="btn btn-default" role="button">
					  点赞
				   </a>
				</p> 
			 </div>
		  </div>
	   </div>
	   <div class="col-sm-6 col-md-3">
		  <div class="img-thumbnail">
			 <img src="/static/images/Picture4.png" class="img-circle"
			 alt="...">
			 <div class="caption">
				<h3>莫敢不从</h3>
				<p>这只是范例，后面再补充。</p>
				<p>
				   <a href="#" class="btn btn-success" role="button">
					  关于
				   </a> 
				   <a href="#" class="btn btn-default" role="button">
					  点赞
				   </a>
				</p>
			 </div>
		  </div>
	   </div>
	</div>
  
  <hr>
  <div class="row-fluid">
	<div class="span4">
	  <h2>学习</h2>
	  <p>自2011年XXX启动了IDC运维服务外包项目,通过五年的运行，XXX IDC机房逐步由驻场模式切换到全外包模式。</p>
	  <p><a class="btn btn-success btn-large" href="#">不断学习</a></p>
	</div><!--/span-->
	<div class="span4">
	  <h2>创新</h2>
	  <p>自2011年XXX启动了IDC运维服务外包项目,通过五年的运行，XXX IDC机房逐步由驻场模式切换到全外包模式。</p>
	  <p><a class="btn btn-success btn-large" href="#">锐意创新</a></p>
	</div><!--/span-->
	<div class="span4">
	  <h2>成长</h2>
	  <p>自2011年XXX启动了IDC运维服务外包项目,通过五年的运行，XXX IDC机房逐步由驻场模式切换到全外包模式。</p>
	  <p><a class="btn btn-success btn-large" href="#">共同成长</a></p>
	</div><!--/span-->
  </div><!--/row-->
  <hr>
  <footer>
	<p>&copy; JiaXuan 2016</p>
  </footer>
{% endblock %}<!--block right_panel-->