{% extends "layout.html" %}

{% block page_panel %}
  
	<div class="row">
	   <div class="col-sm-6 col-md-3">
		  <div class="img-thumbnail">
			 <img src="/static/images/Picture1.png" class="img-circle"
			 alt="...">
			 <div class="caption">
				<h3>武林至尊</h3>
				<p>这只是范例，后面再补充。</p>
				<p>
				   <a href="#" class="btn btn-success" role="button">
					  关于
				   </a> 
				   <a href="#" class="btn btn-default" role="button">
					  点赞
				   </a>
				</p>
			 </div>
		  </div>
	   </div>
	   <div class="col-sm-6 col-md-3">
		  <div class="img-thumbnail">
			 <img src="/static/images/Picture2.png" class="img-circle"
			 alt="...">
			 <div class="caption">
				<h3>宝刀屠龙</h3>
				<p>这只是范例，后面再补充。</p>
				<p>
				   <a href="#" class="btn btn-success" role="button">
					  关于
				   </a> 
				   <a href="#" class="btn btn-default" role="button">
					  点赞
				   </a>
				</p>
			 </div>
		  </div>
	   </div>
	   <div class="col-sm-6 col-md-3">
		  <div class="img-thumbnail">
			 <img src="/static/images/Picture3.png" class="img-circle"
			 alt="...">
			 <div class="caption">
				<h3>号令天下</h3>
				<p>这只是范例，后面再补充。</p>
				<p>
				   <a href="#" class="btn btn-success" role="button">
					  关于
				   </a> 
				   <a href="#" class="btn btn-default" role="button">
					  点赞
				   </a>
				</p> 
			 </div>
		  </div>
	   </div>
	   <div class="col-sm-6 col-md-3">
		  <div class="img-thumbnail">
			 <img src="/static/images/Picture4.png" class="img-circle"
			 alt="...">
			 <div class="caption">
				<h3>莫敢不从</h3>
				<p>这只是范例，后面再补充。</p>
				<p>
				   <a href="#" class="btn btn-success" role="button">
					  关于
				   </a> 
				   <a href="#" class="btn btn-default" role="button">
					  点赞
				   </a>
				</p>
			 </div>
		  </div>
	   </div>
	</div>
  
{% endblock %}<!--block page_panel-->