{% extends "layout.html" %}
	
{% block page_panel %}
	
<div class="row">
	<!-- left panel: collapse view -->
   <div class="col-sm-1 col-md-4">
   </div><!-- left panel end -->
   
   <!-- middle panel: table content -->
   <div class="col-sm-10 col-md-4">
		<div class="leaderboard">
			<caption><h1>修改存放类型</h1></caption>
			<br>
			<h4>"{{filename}}" 文件， 当前类型:  <font size="4" face="arial" color="blue"> {{old_doc_type}} </font></h4>   
			<hr>
			<h3>新类型:</h3>
			<br>
			<form class="form-horizontal" method ="POST" action="{{ url_for('doc_type_edit', filename=filename) }}">
				<div>
				   <label class="checkbox-inline">
					  <input type="radio" name="doc_type" value="server" checked> 服务器(server)
				   </label>
				   <label class="checkbox-inline">
					  <input type="radio" name="doc_type" value="network"> 网络(network)
				   </label>
				   <label class="checkbox-inline">
					  <input type="radio" name="doc_type" value="inventory"> 资产(inventory)
				   </label>
				</div>
				
				<hr>
				<div>
				 <button type="submit" class="btn btn-success">提交</button>
				 <a href="{{ url_for('doc_list') }}" class="btn btn-default" role="button">取消</a>
				</div>
			</form>
			<p>{{error}}</p>
		</div>   
	</div><!-- middle panel end -->	
	
   <!-- right panel: table content -->
   <div class="col-sm-1 col-md-4">
		<div class="leaderboard" style="width:90%;height:65%; overflow-y:auto" id="center">
		</div>
	</div><!-- right panel end -->
</div>	

{% endblock %}