{% extends "layout.html" %}

{% block page_panel %}
	
<div class="row">
	<!-- left panel: collapse view -->
   <div class="col-sm-1 col-md-4">
   </div><!-- left panel end -->
   
   <!-- middle panel: table content -->
   <div class="col-sm-10 col-md-4">
		<div class="leaderboard">
			<caption><h1>修改文件名</h1></caption>
			<br>
			<h4>当前文件名:  <font size="4" face="arial" color="blue">"{{filename}}" </font></h4>   
			<hr>
			<h3>新文件名:</h3>
			<br>
			
			
			<form class="form-horizontal" method ="POST" action="{{ url_for('doc_name_edit', filename=filename) }}">
				<div class="form-group">
				  <div class="col-sm-10">
					<input type="text" class="form-control" id="doc_name" name="doc_name" placeholder="doc_name" autofocus="" >
				  </div>
				</div>
				<div>
				 <button type="submit" class="btn btn-success">提交</button>
				 <a href="{{ url_for('doc_list') }}" class="btn btn-default" role="button">取消</a>
				</div>
			</form>
			<p>{{error}}</p>
		</div>
	</div><!-- middle panel end -->	
	
   <!-- right panel: table content -->
   <div class="col-sm-1 col-md-4">
		<div class="leaderboard" style="width:90%;height:65%; overflow-y:auto" id="center">
		</div>
	</div><!-- right panel end -->
</div>
  
{% endblock %}