{% extends "layout.html" %}

{% block page_panel %}

	<!-- wrapper -->
    <div id="wrapper" style="margin-top:20px;">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
			<div class="panel-group" id="accordion">
			   <div class="panel panel-info">
				<!--panel-heading-->
				  <div class="panel-heading">
					 <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" 
						   href="#collapseOne"> 网络岗文档
						</a><span class="badge pull-right">{{num_network}}</span>
					 </h4>
				  </div><!--panel-heading-->
				  
				  <!--panel-collapse-->
				  <div id="collapseOne" class="panel-collapse collapse in" align="left">
					 <div class="panel-body">
						<ul>
						{% for doc in doclist %}
							{% if filename == doc %}
								<li><a href="{{ url_for('doc_network_show', filename=doc) }}" >{{doc}}&nbsp;&nbsp;<span class="glyphicon glyphicon-hand-left"" aria-hidden="true"></span></a></li>
							{% else %}
								<li><a href="{{ url_for('doc_network_show', filename=doc) }}" >{{doc}}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					 </div>
				  </div> <!--panel-collapse-->
			   </div>
			</div>
        </div> <!-- Sidebar -->
		
		<script type="text/javascript">
		   $(function () { $('#collapseOne').collapse('show')});
		</script>

        <!-- page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
						<!-- toggle button -->
                        <a href="#" class="btn btn-default" id="menu-toggle" style="margin-top:0px;float:left;"><span class="glyphicon glyphicon-th-list"></span></a>	
						
						<!-- pdf document content -->
						<caption><h4>《{{filename}}》</h4></caption>
						<div class="leaderboard" style="margin-left:20px;">
							<iframe src="/static/pdfjs-v1.5.347/web/viewer.html?file=/static/docs/network/{{filename}}" frameborder="0" width="97%" height="900"></iframe>
						</div>
						<!-- pdf document content -->							
                    </div>
                </div>
            </div>
        </div> <!-- page content -->
    </div> <!-- wrapper -->
	<br><br><br>
	
    <!-- Menu toggle script -->
    <script>
        $("#menu-toggle").click( function (e){
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
        });
    </script>
			
	<!--block footer begin -->
	{% block footer %}
	  <div class="container">
	  
	  </div>
	{% endblock %}<!--block footer end-->

{% endblock %}<!--block page_panel-->