{% extends "layout.html" %}

{% block left_panel %}

	{% include 'docs-dashboard-left-panel.html' %}
	
{% endblock %} <!--block left_panel-->

{% block right_panel %}
  
<h1>{{ tree.name }}</h1>
<ul>
{%- for item in tree.children recursive %}
    <!-- <li>{{ item.name }} -->
	
	{% if item.name == 'server' or item.name == 'network' or item.name == 'inventory' %}
		<li>{{ item.name }}
	{% else %}
		<li><a href="{{ url_for('doc_server_show', filename=item.name) }}" >{{ item.name }}&nbsp;&nbsp;</a>
	{% endif %}
	
    {%- if item.children -%}
			<ul>{{ loop(item.children) }}</ul>
    {%- endif %}
		</li>
{%- endfor %}
</ul>

{% endblock %}<!--block right_panel-->