{% extends "layout.html" %}

{% block page_panel %}

<div class="row" style="margin-top:20px;">
	<!-- left panel: collapse view -->
   <div class="col-sm-6 col-md-3">
		<!-- collapse view -->
		<div class="panel-group" id="accordion">
		   <div class="panel panel-info">
			  <div class="panel-heading">
				 <h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" 
					   href="#collapseOne">日志列表(展开/收起)
					</a><span class="badge pull-right">{{num_logs}}</span>
				 </h4>
			  </div>
			  <div id="collapseOne" class="panel-collapse collapse in" align="left">
				 <div class="panel-body">
					<ul>
					{% for item in list %}
						{% if 0 == list.index(item) %}
							<li><a href="{{ url_for('log_show', filename=item) }}" >{{item}}&nbsp;&nbsp;<span class="glyphicon glyphicon-star"" aria-hidden="true"></span></a><a href="{{ url_for('log_delete', filename=item) }}" onclick="return myConfirm(this.href)"><span class="glyphicon glyphicon-trash pull-right"" aria-hidden="true"></span></a></li>
						{% else %}
					
						 <li><a href="{{ url_for('log_show', filename=item) }}" >{{item}}</a><a href="{{ url_for('log_delete', filename=item) }}" onclick="return myConfirm(this.href)"><span class="glyphicon glyphicon-trash pull-right"" aria-hidden="true"></span></a></li>
						{% endif %}
					{% endfor %}
					</ul>
				 </div>
			  </div>
		   </div>
		</div>
		
		<!-- collapse view -->
		<script type="text/javascript">
		   $(function () { $('#collapseOne').collapse('show')});
		</script>

   </div><!-- left panel end -->
   
   <!-- right panel: table content -->
   <div class="col-sm-6 col-md-9">
		<div class="leaderboard" style="width:90%;height:65%; overflow-y:auto" id="center">

		</div>
	</div>
</div><!-- right panel end -->
	
{% endblock %} <!--block page_panel-->
