{% extends "layout.html" %}

{% block page_panel %}

<div class="leaderboard" style="width:75%;" id="center">
	<h1>请登陆:</h1>
	<br>
	<form action="" class="form-inline" method="post">
		<input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}">
		<input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}">
		<br><br>
		<input class="btn btn-default" type="submit" value="登陆">
	</form>
	<p>{{error}}</p>
</div>

{% endblock %} <!--block page_panel-->