{% extends "layout.html" %}

{% block left_panel %}

	{% include 'main-left-panel.html' %}
	
{% endblock %} <!--block left_panel-->

{% block right_panel %}
  <div class="leaderboard">
	<h1>规范. 高效. 专业.</h1>
	<p>	2011年，XXX启动了IDC运维服务外包项目。通过五年的运行，XXX IDC机房逐步由驻场模式切换到全外包模式。<br>
		在XXX管理团队和紫光华山专业外包服务团队的配合下，IDC现场运维服务质量、流程执行合规性、及人均运维效率均达到项目预期。<br>
		2016-2017年，XXX将持续实施IDC运维服务外包。未来，通过紫光华山专业IT外包服务团队和XXX一起探索适合互联网行业的IDC外包运营模式，
		我们将会进一步提升XXX IDC现场运维的服务能力。
	</p>
	<p><a class="btn btn-success btn-large">加入我们</a></p>
  </div>
  <div class="row-fluid">
	<div class="span4">
	  <h2>规范</h2>
	  <p>自2011年XXX启动了IDC运维服务外包项目,通过五年的运行，XXX IDC机房逐步由驻场模式切换到全外包模式。</p>
	  <p><a class="btn btn-success btn-large" href="#">行业规范</a></p>
	</div><!--/span-->
	<div class="span4">
	  <h2>高效</h2>
	  <p>自2011年XXX启动了IDC运维服务外包项目,通过五年的运行，XXX IDC机房逐步由驻场模式切换到全外包模式。</p>
	  <p><a class="btn btn-success btn-large" href="#">高效团队</a></p>
	</div><!--/span-->
	<div class="span4">
	  <h2>专业</h2>
	  <p>自2011年XXX启动了IDC运维服务外包项目,通过五年的运行，XXX IDC机房逐步由驻场模式切换到全外包模式。</p>
	  <p><a class="btn btn-success btn-large" href="#">专业服务</a></p>
	</div><!--/span-->
  </div><!--/row-->
  <hr>
  <footer>
	<p>&copy; JiaXuan 2016</p>
  </footer>
{% endblock %}<!--block right_panel-->