<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		
		{% if title %}
		<title>{{ title }} - h3cTech</title>
		{% else %}
		<title>h3cTech</title>
		{% endif %}

		<!-- Latest compiled and minified CSS -->
		<link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- Optional theme -->
		<link href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/static/bootstrap-3.3.7-dist/js/jquery-1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		
		<!-- js Script for clearing form data -->	
		<script src="/static/js/jquery-2.1.1.min.js"></script>
		
		<!-- Custom styles for index cover -->
		<link href="/static/css/cover.css" rel="stylesheet">
		
	</head>

	<body>


	   <div class="site-wrapper">  
		  <div class="site-wrapper-inner">

			<div class="cover-container">
			  <div class="masthead clearfix">
				<div class="inner">
				  <!-- <h3 class="masthead-brand">Cover</h3> -->
				  <!-- <nav> -->
					<!-- <ul class="nav masthead-nav"> -->
					  <!-- <li class="active"><a href="#">Home</a></li> -->
					  <!-- <li><a href="#">Features</a></li> -->
					  <!-- <li><a href="#">Contact</a></li> -->
					<!-- </ul> -->
				  <!-- </nav> -->
				</div>
			  </div>
			  		  
			  <a href="{{ url_for('wb_show', week='thisweek') }}"><img src="/static/images/laptop2.jpg" class="img-circle" width="170" height="170" class="img-responsive"></a>
			  <br><br>
			  <div class="inner cover" style="width: 100%">
				<!-- <h1 class="cover-heading">欢迎访问白板</h1> -->
				<!-- <p class="lead">白板支持外网访问（内网请使用PAC脚本设置代理） </p> -->		
				<p class="lead">
				  <a href="#" class="btn btn-xs btn-danger">Click it &nbsp;<span class="glyphicon glyphicon-arrow-up"></span></a>
				</p>
				<br>
				<p class="text-muted">白板支持外网访问（内网请使用PAC脚本设置代理）</p>
				
			  </div> 

			  <div class="mastfoot">
				<div class="inner">
				  <p>Built for <a href="#">TS team</a>, by  <a href="#">LJX</a>.</p>
				</div>
			  </div>

			</div>

		  </div>

		</div>

	</body>
</html>