{% extends "layout.html" %}

{% block page_panel %}


    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" align="left">
                <li><a href="#">Account</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>

        <!-- page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-default" id="menu-toggle" style="margin-top:0px;float:left;"><span class="glyphicon glyphicon-th-list"></span></a>		
								

						<div class="leaderboard" style="width:100%;">
							
							<h1>上周白板.更新</h1>
							
							<div style="overflow-y:auto">
							
								<h3>当前记录</h3>
								<table class="table table-hover" border="1">
								   <!-- <caption><h1>{{fn}}</h1></caption> -->
								   <thead>
									  <tr>
									  <th rowspan="2">成员姓名</th>		 
											<th colspan="2">2017-01-01</th>
											<th colspan="2">2017-01-02</th>
											<th colspan="2">2017-01-03</th>
											<th colspan="2">2017-01-04</th>
											<th colspan="2">2017-01-05</th>
											<th colspan="2">2017-01-06</th>
											<th colspan="2">2017-01-07</th>
									  </tr>
									  <tr>
										<th colspan="2">星期六</th>
										<th colspan="2">星期日</th>
										<th colspan="2">星期一</th>
										<th colspan="2">星期二</th>
										<th colspan="2">星期三</th>
										<th colspan="2">星期四</th>
										<th colspan="2">星期五</th>
									  </tr>
								   </thead>
								   <tbody>
										<tr class="active">
												<td>张三丰</td>
												<td>较长测试数据</td>
												<td>特别长测试数据</td>
												<td>非常长的测试数据</td>
												<td>还有更长的测sdfsssssssssssssssssssss试数据</td>
												<td>较长测试数据</td>
												<td>较长测试数据</td>
												<td>较长测试数据</td>
												<td>较长测试数据</td>
												<td>较长测试数据</td>
												<td>较长测试数据</td>
												<td>较长测试数据</td>
												<td>较长测试数据</td>
												<td>较长测试数据</td>
												<td>较长测试数据</td>
										</tr>
								   </tbody>
								</table>
							</div>
						</div>		
								
								
								
								
								
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu toggle script -->
    <script>
        $("#menu-toggle").click( function (e){
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
        });
    </script>

{% endblock %}<!--block page_panel-->