<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>test</title>
	
	<!-- Latest compiled and minified CSS -->
	<link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Optional theme -->
	<link href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/static/bootstrap-3.3.7-dist/js/jquery-1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	
	
	<!-- js Script for clearing form data -->	
	<script src="/static/js/jquery-2.1.1.min.js"></script>
	<script script type="text/javascript" src="/static/js/clear_form.js"></script>
	
	<!-- Custom styles for sticky footer -->
    <link href="/static/css/sticky-footer.css" rel="stylesheet">
	
	<!-- Custom styles for sidebar -->
    <link href="/static/css/sidebar.css" rel="stylesheet">
	
	<!-- js Script for sidebar -->	
	<script src="/static/js/sidebar.js"></script>
	
<style>
	h1 {
	color : #92B901;
	<!-- font-family: 'Glyphicons Halflings'; -->
	font-family: monospace, monospace;
	}
	
	body{TEXT-ALIGN: center;}

	#center{ MARGIN-RIGHT: auto;

	MARGIN-LEFT: auto;
	
	}
	#brand-image{
		height: 20px;
		margin-top: 0px;
	}
</style>

{% block head %}
{% endblock %}

</head>

<body>
{% block body %}
    
	{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!--Logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<!-- <a href="/" class="navbar-brand">h3cTech</a> -->
                <a href="/" class="navbar-brand"><img id="brand-image" src="/static/images/favicon.ico"></a> 
            </div>
            <!--Menu items-->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
					<!-- <li><a href="/"><span class="glyphicon glyphicon-send"></span> 首页 <span class="sr-only">(current)</span></a></li> -->
					<li class="dropdown">
						<a href="{{ url_for('wb_show',week='thisweek') }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="50" data-close-others="false"><span class="glyphicon glyphicon-calendar"></span> 白板 <span class="caret"></span></a>
						<ul class="dropdown-menu">												
							<li><a href="{{ url_for('wb_show', week='thisweek') }}"><span class="glyphicon glyphicon-hand-right"></span> 本周白板</a></li> 			
							<li><a href="{{ url_for('wb_review', filename='thisweek') }}"><span class="glyphicon glyphicon-cloud"></span> 历史记录</a></li>
							{% if session.logged_in %}	
								{% if session.auth_type_db == 'h3cadm' or session.auth_type_db == 'superadm' %}			
									<li role="separator" class="divider"></li>
									<li><a href="{{ url_for('wb_show', week='lastweek') }}"><span class="glyphicon glyphicon-hand-left"></span> 上周白板</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="/wb-add-member/"><span class="glyphicon glyphicon-ok-circle"></span> 增加成员</a></li>
									<li><a href="/wb-del-member/"><span class="glyphicon glyphicon-remove-circle"></span> 删除成员</a></li>
								{% endif %}	
							{% endif %}	
						</ul>
					</li>																
						
					{% if session.logged_in %}
						{% if session.auth_type_db == 'superadm' %}	
							<li><a href="/test/"> 测试页面</a></li>
							<li class="dropdown">
							  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="5" data-close-others="false"><span class="glyphicon glyphicon-folder-close"></span> 文档库 <span class="caret"></span></a>
							  <ul class="dropdown-menu">
								<li><a href="/doc-server-dashboard/"><span class="glyphicon glyphicon-object-align-bottom"></span> 服务器</a></li>
								<li><a href="/doc-network-dashboard/"><span class="glyphicon glyphicon-stats"></span> 网络</a></li>
								<li><a href="/doc-inventory-dashboard/"><span class="glyphicon glyphicon-hdd"></span> 资产</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/doc-upload/"><span class="glyphicon glyphicon-arrow-up"></span> 上传文档</a></li>
							  </ul>
							</li>
							<li class="dropdown">
							  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="50" data-close-others="false"><span class="glyphicon glyphicon-cog"></span> 系统管理 <span class="caret"></span></a>
							  <ul class="dropdown-menu">
							    <li><a href="/log-list/"><span class="glyphicon glyphicon-edit"></span> 日志</a></li>
								<li><a href="/user-list/"><span class="glyphicon glyphicon-user"></span> 用户</a></li>
								<li><a href="/doc-list/"><span class="glyphicon glyphicon-list-alt"></span> 文档</a></li>
							  </ul>
							</li> 
						{% endif %}
					{% endif %}
                </ul>

                <!-- right align -->
                <ul class="nav navbar-nav navbar-right">
					{% if session.logged_in %}
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="5" data-close-others="false"><span class="glyphicon glyphicon-user"></span>    {{session.username}} <span class="caret"></span></a>
						  <ul class="dropdown-menu">
							<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> 用户信息</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-lock"></span> 修改密码</a></li>
							<li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
						  </ul>
						</li>
					{% else %}
						<li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> 登陆 </a></li>
						<li><a href="/register/"><span class="glyphicon glyphicon-pencil"></span> 注册 </a></li>
					{% endif %}
                </ul>

            </div>
        </div>
    </nav>
	{% endblock %} <!-- block navbar end -->
	
	<!--flash message-->
	<div class="container">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-info alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert">&times;&nbsp;&nbsp;&nbsp;&nbsp;</button>
						{{message}}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
	
	<div class="container-fluid" id="center">
		<!--block content begin -->
		{% block content %}
			  <div class="row-fluid">
				<!--content panel-->
				<div class="span12">
					{% block page_panel %}
					
					
	<div class="leaderboard" style="width:90%;height:65%; margin-top:50px; overflow-y:auto" id="center">
	<!-- <div class="leaderboard" style="width:80%;height:65%;" id="center"> -->

		<h1>测试页面</h1><h6>(点击姓名进行更新)</h6>

					 <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
                <p>

    可更高效利用缓存来提高响应速度
    通讯本身的无状态性可以让不同的服务器的处理一系列请求中的不同请求，提高服务器的扩展性
    浏览器即可作为客户端，简化软件需求
    相对于其他叠加在HTTP协议之上的机制，REST的软件依赖性更小
    不需要额外的资源发现机制
    在软件技术演进中的长期的兼容性更好

            </p>
			
	</div>		
			
			
					{% endblock %}
			    </div>
			  </div>
		{% endblock %}<!--block content end-->
		
		<!--block footer begin -->
		{% block footer %}
		<br><br>
		<footer class="footer">
		  <div class="container">
			<p>© Jiaxuan 2016-2017. All Rights Reserved</p>
		  </div>
		</footer>
		{% endblock %}<!--block footer end-->
	</div>
 
	
{% endblock %}	<!--block body end-->	
</body>
</html>