{% extends "layout.html" %}
	
{% block page_panel %}
	 
<div class="row">
	<!-- left panel: collapse view -->
   <div class="col-sm-1 col-md-2">
   </div><!-- left panel end -->
   
   <!-- middle panel: table content -->
   <div class="col-sm-10 col-md-8">
		<div class="leaderboard" align="left">
			<caption><h1>用户列表</h1></caption>
			<hr>
			<p>&nbsp; <kbd>权限说明：</kbd></p>
			<p><code>superadm</code>&nbsp;拥有系统最高权限。<kbd>None</kbd>&nbsp;新注册用户或普通用户，最低权限</p>
			<p><kbd>adm</kbd>&nbsp;可查看所有文档库内容。<kbd>ser</kbd>&nbsp;可查看服务器岗文档库。<kbd>net</kbd>&nbsp;可查看网络岗文档库。<kbd>inv</kbd>&nbsp;可查看资产岗文档库</p>
			<p><kbd>h3c</kbd>&nbsp;可更新本周白板和查看历史记录。<kbd>h3cadm</kbd>&nbsp;允许所有白板相关操作</p>
			<hr>
		</div>	
		<div style="height:60%; overflow-y:auto">
			<table class="table table-striped table-hover table-condensed" border="1">
			   <thead>
				  <tr>
						<th>用户名(username)</th>
						<th>权限类型(auth_type)</th>
						<th>用户邮箱(email)</th> 
						<th>注册日期(regdate)</th>
				  </tr>
			   </thead> 
			   <tbody align="left">
					{% for user in users_db %}
					  <tr class="active">    
						 <td><a href="{{ url_for('user_delete', username=user.0) }}" onclick="return myConfirm(this.href)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<font size="3" face="arial" color="green">{{ user.0 }}</font></td> 	 
						
						 <td><a href="{{ url_for('user_auth_edit', username=user.0) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						 </a>&nbsp;&nbsp;&nbsp;&nbsp;<font size="3" face="arial" color="green"> {{ user.1 }}</font></td>
						 
						 <td>{{ user.2 }}</td>
						 <td>{{ user.3 }}</td>
					  </tr>

					{% endfor %}
			   </tbody>
			</table> 
		</div>
	</div><!-- middle panel end -->	
	
   <!-- right panel: table content -->
   <div class="col-sm-1 col-md-2">
	</div><!-- right panel end -->
</div> 
 
{% endblock %}