{% extends "layout.html" %}

{% block page_panel %}
	
<br>
<br>	

<div class="row" style="margin-top:30px;">
	<!-- left panel: collapse view -->
   <div class="col-sm-1 col-md-4">
   </div><!-- left panel end -->
   
   <!-- middle panel: table content -->
   <div class="col-sm-10 col-md-4">
		<div class="leaderboard">
			<h1>增加成员</h1>
			<br><br>
			{% from "_formhelpers.html" import render_field %}
			<form method=post action="/wb-add-member/">
				<dl >
					{{render_field(form.name)}}		
				</dl>
				<p><input type=submit class="btn btn-success" value=确认添加></p>
			</form>
			<a href="{{ url_for('wb_show', week='thisweek') }}" role="button"><span class="label label-info" >查看名单</span></a>
			
			{% if error %}
				<p class="error"><strong>Error:</strong>{{error}}</p>
			{% endif %}
		</div>
	</div><!-- middle panel end -->	
	
   <!-- right panel: table content -->
   <div class="col-sm-1 col-md-4">
	</div><!-- right panel end -->
</div>
  
{% endblock %}<!--block page_panel-->