{% extends "layout.html" %}

{% block left_panel %}

	<!-- collapse view -->
	<a href="/wb-thisweek/" role="button" class="btn btn-info">返回</a> 
	<br><br>
	<div class="panel-group" id="accordion">
	   <div class="panel panel-info">
		  <div class="panel-heading">
			 <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseOne">白板列表
				</a><span class="badge pull-right">{{num_wb}}</span>
			 </h4>
		  </div>
		  <div id="collapseOne" class="panel-collapse collapse in">
			 <div class="panel-body">
				<ul>
				{% for item in list %}
					{% if 0 == list.index(item) %}
						<li><a href="{{ url_for('wb_review', filename=item) }}" >{{item}}&nbsp;&nbsp;<span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/static/weekly/{{ item }}">下载</a></li>
					{% else %}
					   <li><a href="{{ url_for('wb_review', filename=item) }}" >{{item}}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			 </div>
		  </div>
	   </div>
	</div>
	
	<!-- collapse view -->
	<script type="text/javascript">
	   $(function () { $('#collapseOne').collapse('show')});
	</script>
	

	
{% endblock %} <!--block left_panel-->
