{% extends "layout.html" %}

{% block page_panel %}		
<div class="row">
	<!-- left panel: collapse view -->
   <div class="col-sm-6 col-md-2">
		<div class="panel-group" id="accordion">
		   <div class="panel panel-info">
			  <div class="panel-heading">
				 <h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" 
					   href="#collapseOne" align="left">历史记录
					</a><span class="badge pull-right">{{num_wb}}</span> 
				 </h4>
			  </div>
			  <div id="collapseOne" class="panel-collapse collapse in" align="left">
				 <div class="panel-body">
					<ul>
					{% for item in list %}
						{% if fn == item %}
							<li><a href="{{ url_for('wb_review', filename=item) }}" >{{item}}&nbsp;&nbsp;</a>
								<span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>&nbsp;&nbsp;
								{% if session.auth_type_db == 'h3cadm' or session.auth_type_db == 'superadm' %}
									<a href="/static/weekly/{{ item }}"><span class="glyphicon glyphicon-save pull-right"></span></a>
								{% endif %}	
							</li>
						{% else %}
							<li><a href="{{ url_for('wb_review', filename=item) }}" >{{item}}&nbsp;&nbsp;</a>
							   {% if session.auth_type_db == 'h3cadm' or session.auth_type_db == 'superadm' %}
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/static/weekly/{{ item }}"><span class="glyphicon glyphicon-save pull-right"></span></a>
							   {% endif %}	
							</li>
						{% endif %}				
					{% endfor %}
					</ul>
				 </div>
			  </div>
		   </div>
		</div>

		<script type="text/javascript">
		   $(function () { $('#collapseOne').collapse('toggle')});
		</script>
   </div><!-- left panel end -->
   
   <!-- right panel: table content -->
   <div class="col-sm-6 col-md-10">
		<div class="leaderboard" style="height:65%; overflow-y:auto" id="center">
			<caption><h2>{{fn}}</h2></caption>
			<table class="table table-striped" border="1">
			   <!-- <caption><h1>{{fn}}</h1></caption> -->
			   <thead>
				  <tr>
				  <th rowspan="2">成员姓名</th>
				  
				  {% for day in weekdays %}
						<th colspan="2">{{day}}</th>
				  {% endfor %}  
				  
				  </tr>
				  <tr>
					<th colspan="2">星期六</th>
					<th colspan="2">星期日</th>
					<th colspan="2">星期一</th>
					<th colspan="2">星期二</th>
					<th colspan="2">星期三</th>
					<th colspan="2">星期四</th>
					<th colspan="2">星期五</th>
				  </tr>
			   </thead>
			   <tbody>
				{% for row in range(num) %}
					<tr class="active">
						{% for column in range(15) %}
						<td> {{ filedata[row][column] }} </td>
						{% endfor %}
					</tr>
				{% endfor %}
			   </tbody>
			</table>
		</div>
	</div><!-- right panel end -->
</div>
	
{% endblock %}<!--block page_panel