{% extends "layout.html" %}

{% block page_panel %}
	
	<div class="leaderboard" style="width:80%;height:65%; overflow-y:auto" id="center">
	<!-- <div class="leaderboard" style="width:80%;height:65%;" id="center"> -->
	 {% if week == "thisweek" %}
		<h1>本周白板</h1><h6>(点击姓名进行更新)</h6>
	 {% else %}
	    <h1>上周白板</h1><h6>(点击姓名进行更新)</h6>
	 {% endif %}
		<!-- <div style="position:relative; width:76%; height:67%; overflow-y:auto" id="center"> -->
			<table class="table table-condensed" border="1">
			   <!-- <caption><h1>{{fn}}</h1></caption> -->
			   <thead>
			      <tr>
				  <th rowspan="2">成员姓名</th>
				  
				  {% for day in weekdays %}
						<th colspan="2">{{day}}</th>
				  {% endfor %}  
				  
				  </tr>
				  <tr>
                    <th colspan="2">星期六</th>
					<th colspan="2">星期日</th>
					<th colspan="2">星期一</th>
					<th colspan="2">星期二</th>
					<th colspan="2">星期三</th>
					<th colspan="2">星期四</th>
					<th colspan="2">星期五</th>
				  </tr>
			   </thead>
			   <tbody>
				{% for row in range(num) %}
					<tr class="active">
						{% for column in range(15) %}
						    {% if column == 0 %}
							    {% if week == "thisweek" %}
									<td> <a href="{{ url_for('wb_update_thisweek', name=filedata[row][column]) }}">{{ filedata[row][column] }}</a> </td>
								{% else %}
									<td> <a href="{{ url_for('wb_update_lastweek', name=filedata[row][column]) }}">{{ filedata[row][column] }}</a> </td>
								{% endif %}
							{% else %}
						        <td> {{ filedata[row][column] }} </td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			   </tbody>
			</table>
		<!-- </div> -->
	</div>

<br>
<br>	  

{% endblock %}<!--block page_panel-->