{% extends "layout.html" %}

{% block left_panel %}

	{% include 'wb-left-panel.html' %}
	
{% endblock %} <!--block left_panel-->

{% block right_panel %}

	<div class="leaderboard" style="width:95%;">
		
		<div style="position:absolute; width:65%; height:450px; overflow-y:auto">
			<table class="table table-hover" border="1">
			   <!-- <caption><h1>{{fn}}</h1></caption> -->
			   <thead>
			      <tr>
				  <th rowspan="2">姓名</th>
				  
				  {% for day in weekdays %}
						<th colspan="2">{{day}}</th>
				  {% endfor %}  
				  
				  </tr>
				  <tr>
                    <th colspan="2">星期六</th>
					<th colspan="2">星期日</th>
					<th colspan="2">星期一</th>
					<th colspan="2">星期二</th>
					<th colspan="2">星期三</th>
					<th colspan="2">星期四</th>
					<th colspan="2">星期五</th>
				  </tr>
			   </thead>
			   <tbody>

					<tr class="active">
						{% for column in range(15) %}
						    <td> {{ filedata[0][column] }} </td>
						{% endfor %}
					</tr>

			   </tbody>
			</table>
		</div>
	</div>

		
<div class="leaderboard" style="width: 25%">
	{% from "_formhelpers.html" import render_field %}

	<form method=post action="/wb-update-test/">
	     {{render_field(form.name)}} 
		<br>
		
	<table class="table table-hover" border="1">
	<thead>
		<tr>
			<th>{{ weekdays[0] }}</th>
			<th>{{render_field(form.day6_am)}}</th>
			<th>{{render_field(form.day6_pm)}}</th>
		</tr>
		<tr>
		    <th>{{ weekdays[1] }}</th>
			<th>{{render_field(form.day7_am)}}</th>			
			<th>{{render_field(form.day7_pm)}}</th>
		</tr>
		<tr>
		    <th>{{ weekdays[2] }}</th>
			<th>{{render_field(form.day1_am)}}</th>			
			<th>{{render_field(form.day1_pm)}}</th>
		</tr>
		<tr>
		    <th>{{ weekdays[3] }}</th>
			<th>{{render_field(form.day2_am)}}</th>			
			<th>{{render_field(form.day2_pm)}}</th>
		</tr>
		<tr>
		    <th>{{ weekdays[4] }}</th>
			<th>{{render_field(form.day3_am)}}</th>
			<th>{{render_field(form.day3_pm)}}</th>
		</tr>
		<tr>
		    <th>{{ weekdays[5] }}</th>
			<th>{{render_field(form.day4_am)}}</th>
			<th>{{render_field(form.day4_pm)}}</th>
		</tr>
		<tr>
		    <th>{{ weekdays[6] }}</th>
			<th>{{render_field(form.day5_am)}}</th>
			<th>{{render_field(form.day5_pm)}}</th>			
		</tr>
		</thead>
	</table>
		<p><input type=submit value=更新></p>
	</form>
	
	{% if error %}
		<p class="error"><strong>Error:</strong>{{error}}</p>
	{% endif %}
</div>
  
  
  
  
  <footer>
	<p>&copy; JiaXuan 2016</p>
  </footer>
{% endblock %}<!--block right_panel-->