{% extends "layout.html" %}

{% block left_panel %}

	{% include 'server-left-panel.html' %}
	
{% endblock %}
	
{% block right_panel %}
	
	
	<object data="http://h3cblog.tk/protected_dir/docs/server-issue-handle.pdf" type="application/pdf" width="97%" height="850">
		<iframe src="http://h3cblog.tk/protected_dir/docs/server-issue-handle.pdf" width="97%" height="850" style="border: none;">
		This browser does not support PDFs. Please download the PDF to view it: <a href="http://h3cblog.tk/protected_dir/docs/server-issue-handle.pdf">Download PDF</a>
		</iframe>
	</object>

	
	<footer>
 <!-- <p class="pull-right"><strong><a href="#top">回到顶部</a></strong></p> -->
		<p>&copy; JiaXuan 2016</p>
	</footer>
{% endblock %}